body {
  background-color: #FEE9E1;
  color: #34344A;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #34344A;
}

h1 {
  font-size: 22pt;
  font-weight: 600;
  margin-bottom: 20px;
}

h2 {
  font-size: 14pt;
}

a {
  color: #F2542D;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: #F9B19F;
}

.button-orange {
  color: #fff;
  border-radius: 4px;
  background-color: #F2542D;
  padding: 10px;
}

.button-orange:hover {
  background-color: #F9B19F;
  color: #fff;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 40px 40px 40px;
  margin: 20px 0px;
  box-shadow: 0px 10px 20px rgb(103,23,3,0.1);

}

.text-center {
  text-align: center;
}

.img-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 10;
}

.list-inline i {
  font-size: 50px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

#introduction p {
  margin-bottom:40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
